<div style="margin: 10px;">
	<div style="background-color: yellow">
		<h3>NOTES FOR DEMONSTRATION</h3>
		<ol>
		</ol>
	</div>

	<div>
		<h3>Company Profile</h3>
		<div style="margin-bottom: 5px;">
			Name: <%= @company.name %><br>
			Industry: <%= @company.industry.name %><br>
			Size: <%= @company.workforce_size %><br>
			Preference of talent work hours: <%= @company.work_hours %><br>
			Preference of talent strength: <%= @company.strength %><br>
		</div>
	</div>

	<br>

	<div>
		<h3>Vacancy Details</h3>
		<div style="margin-bottom: 5px;">
			Role: <%= @vacancy.name %><br>
			Description: <%= @vacancy.description %><br>
			Department: <%= @vacancy.department %><br>
			Quantity Needed: <%= @vacancy.quantity %><br>
		</div>
	</div>

	<div style="border: 2px blue solid; padding: 2px; margin-bottom: 5px;">
		<div class="text-center">
			<h4>Interview Pool: <%= @matches.count %> jobseekers</h4>
		</div>
		<div class="container-fluid" style="font-size: 15px;">
		    <div class="row">
		    	<% @matches.each do |match|%>
			        <div class="col-sm-6 col-lg-3 py-2">
			            <div class="card h-100" style="background-color: lightgreen">
			                <div class="card-body">
			                    <h4 class="card-title">Candidate Number: <%= match.jobseeker.id %></h4>
			                    <p class="card-text">
									Degree in: <%= match.jobseeker.degree.name %><br>
									University: <%= match.jobseeker.university.name %><br>
									Latest CGPA: <%= match.jobseeker.cgpa %><br>
									Knowledge Score: <%= match.jobseeker.knowledge_score %>%<br>
									Skill Score: <%= match.jobseeker.skill_score %>%<br>
									Activity Score: <%= match.jobseeker.activity_score %>%<br>
			                    	</p>
			                    <p class="card-text"><small class="text-muted">Last Updated: <%= match.jobseeker.created_at.to_date %></small></p>
			                </div>
			            </div>
			        </div>
			    <% end %>
		    </div>
		</div>
	</div>


	<div style="border: 2px blue solid; padding: 5px;">
		<h4>Choose your interview questions!</h4>
		<h6>You can choose between 5-10 questions with a total duration of 120 seconds!</h6>
		<div>
			<%=form_for @vacancy do |form|%>
				<div>
					<%= form.label :question_1 %> 
					<%= form.select(:question_1, Vacancy::QUESTION_LIST, {:required => true}) %>

					<%= form.select :q1_time, ((10..30).step(5).map {|i| [i,i] } << [40,10]) %>
					<%= form.label :seconds %> 
				</div>

				<div>
					<%= form.label :question_2 %> 
					<%= form.select(:question_2, Vacancy::QUESTION_LIST, {:required => true}) %>

					<%= form.select :q2_time, ((10..30).step(5).map {|i| [i,i] } << [40,10]) %>
					<%= form.label :seconds %> 
				</div>
				<div>
					<%= form.label :question_3 %> 
					<%= form.select(:question_3, Vacancy::QUESTION_LIST, {:required => true}) %>

					<%= form.select :q3_time, ((10..30).step(5).map {|i| [i,i] } << [40,10]) %>
					<%= form.label :seconds %> 
				</div>
				<div>
					<%= form.label :question_4 %>
					<%= form.select(:question_4, Vacancy::QUESTION_LIST, {:required => true}) %>

					<%= form.select :q4_time, ((10..30).step(5).map {|i| [i,i] } << [40,10]) %>
					<%= form.label :seconds %> 
				</div>
				<div>
					<%= form.label :question_5 %> 
					<%= form.select(:question_5, Vacancy::QUESTION_LIST, {:required => true}) %>

					<%= form.select :q5_time, ((10..30).step(5).map {|i| [i,i] } << [40,10]) %>
					<%= form.label :seconds %> 
				</div>			
			
				<%=form.submit 'Submit Interview Questions!'%>
			<% end %>
		</div>
	</div>

</div>
