<div style="background-color: yellow; margin: 10px; margin-bottom: 30px;">
	<h6>NOTES FOR DEMONSTRATION</h6>
	<ol style="font-size: 15px">
		<li>Upon sign up, we can (should) validate the recruiter either by calling them or call their company.</li>
		<li>Optional - We can even fill up this page for them during the call.</li>
		<li>Main recruiter should also be able to list down their colleagues (give email and temp password) who have access to that company</li>
		<li>The filters below will be the most basic filter in all the searches!</li>
	</ol>
	<h6>Process: User sign up > User receives a call > User gets authorisation code > user go to this page</h6>
</div>

<div style="margin: 20px;">
	<div>
		<h1>Company Profile</h1>
		<h4>Tell us what generally matters to your company!</h4>
	</div>

	<div >
		<div>
			<%=form_for @company do |form|%>
				<div>
					<%= form.label :name %> 
					<%= form.text_field :name, placeholder: 'Name of Company' %>
				</div>
				
				<div>
					Company mission: (1 line to describe what your company mission is)
				</div>
				
				<div>
					<%= form.label :state %> 
					<%= form.collection_select :state_id, State.all, :id, :name, :prompt => "Choose your state" %>
				</div>

				<div>
					<%= form.label :industry %> 
					<%= form.collection_select :industry_id, Industry.all, :id, :name, :prompt => "Choose your industry" %>
				</div>

				<div>
					<%= form.label :workforce_size, 'Size of Company' %>
					<%= form.select :workforce_size, Company.workforce_sizes.keys.to_a %>

				</div>

				<div>
					<%= form.label :work_hours, 'What time committment does your employer possess?' %>
					<%= form.select :work_hours, Company.work_hours.keys.to_a %>

				</div>

				<div>
					<%= form.label :strength, 'Do you prefer a booksmart or streetsmart people?' %>
					<%= form.select :strength, Company.strengths.keys.to_a %>

				</div>	

			<div style="margin: 10px">
				<%=form.submit "Set up my company!"%>
			</div>
			<% end %>		
		</div>

	</div>
</div>